html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

#gamebox {
  padding: 0px 0px 10px 0px !important;
  margin: 0px;
  border: none;
}

#errorconsole {
  background: black;
  width: 550px;
  height: 450px;
  color: red;
  font-family: "Courier";
  font-size: 1em;
  padding: 10px;
  display: none;
  margin-bottom: 10px;
}

#errorconsole span {
  color: white;
  font-size: 1.3em;
}
